@model CarWorkshop.MVC.Models.About

@{
    ViewData["Title"] = "About";
}

<p>Tags:</p>
<ul>
    @foreach (var tag in Model.Tags)
    {
        <li>@tag</li>
    }
</ul>

<div>
    <h4>About</h4>
    <hr />
    <div class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </div>
</div>
